/*  your css code here. If applicable */
*{
	background-color:#cbd6cb;
	width:100px;
	
}
table, td{
	border:1px solid black;
	
}
.column-1{
	width:200px;
}
.imgContainer>img{
	width:50%;
}
.column-2{
	width:600px;
	text-align:center;
	
}
.column-3{
	width:200px;
}
